* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

.carousel {
    position: relative;
    flex-grow: 1;
    display: flex;


}

.container .thumbnail {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 190px;
    display: flex;
    flex-direction: column;

}

.carousel__item--thumb {
    aspect-ratio: 21/9;
    object-fit: cover;
    flex-grow: 1;
}

.carousel__item {
    display: none;
    position: relative;

}

.carousel__item--image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 21/9;
    text-align: end;


}


.carousel__item--text {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: white;
    text-align: end;
}


.carousel__item--text>h2 {
    font-size: 20px;

}

.carousel__item.active {
    display: block;
}

.arrow {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateX(-50%);
    left: 50%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.arrow.arrow--top::after {
    transform: rotate(-45deg);
}

.arrow.arrow--top {
    top: 20px;
    padding-top: 3px;
}

.arrow.arrow--bottom::after {
    transform: rotate(135deg);
}

.arrow.arrow--bottom {
    bottom: 20px;
    padding-bottom: 3px;
}

.border--white {
    border: 5px solid white;
}